.vs-screen {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    max-width: 450px;
    z-index: 9999;
    transform: translate(-50%, 0);
    background-image: url("../../../public/themes/basic/back.png");
    image-rendering: pixelated;
    //background: url("../../themes/basic/back_basic.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    .vs-screen-player-row{
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        align-items: center;
        img{
            aspect-ratio: 1/1;
            height: 50px;
            margin-right: 10px;
        }
        p{
            font-size: 18px;
            text-transform: uppercase;
        }
    }
    .vs-screen-cancel{
        background-image: url("../../../public/themes/basic/btn_wide.png");
        image-rendering: pixelated;
        //background: url("../../themes/basic/back_basic.png");
        background-size: 100% 100%;
        font-size: 25px;
        font-family: joystix_monospace;
        color: white;
        padding: 10px 30px;
        border: none;
        outline: none;
        margin-top: 100px;
        transition: 200ms all ease;
        &:hover{
            transform: scale(1.1);
        }
        
    }
}