.main-game-container {
    background-color: rgb(71, 72, 74);
    max-width: 450px;
    width: 100%;
    display: flex;
    padding: 3vh 0;
    align-items: center;
    flex-direction: column;
    background-size: 100% 100%;
    image-rendering: pixelated;
    margin: 20px 0;
    height: 100%;
    position: relative;

    .main-game-countdown {
        position: absolute;
        background: black;
        opacity: 0.7;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        p {
            font-size: 20vh;
            margin-top: 0px;
            color: white;
            text-align: center;
            position: absolute;
            top: 27%;
            left: 50%;
            -webkit-transform: translate(-50%, -27%);
            transform: translate(-50%, -27%);
        }
    }
}
.main-game-top-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    color: white;
    position: relative;
    font-size: 30px;
    text-align: center;
}
.time-counter,
.round-counter {
    width: 45%;
    background-color: aqua;
    height: 70px;
    background-size: 100% 100%;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-shape-image {
    width: 80%;
    aspect-ratio: 1/1;
    background-color: beige;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

.center-shape-image > img {
    width: 60%;
}

.main-game-shape-buttons {
    width: 80%;
    aspect-ratio: 1/1;
    /* background-color: rgb(42, 103, 141); */
    margin-top: 10px;
}
.main-game-shape-buttons-row {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-game-shape-buttons-row > button {
    width: 48%;
    border: none;
    margin-top: 15px;
    outline: none;
    aspect-ratio: 1/1;
    background-size: 100% 100%;
    image-rendering: pixelated;
    transition: 75ms all ease;
}

.main-game-shape-buttons-row > button:hover {
    transform: scale(1.05);
}

.main-game-shape-buttons-row > button > img {
    width: 70%;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 375px) {
    .main-game-top-row {
        font-size: 20px;
    }
}






@keyframes shake {
    0% {
        transform: translate(-52%, -28%) rotate(0deg);
    }
    20% {
        transform: translate(-50%, -27%) rotate(-2deg);
    }
    40% {
        transform: translate(-51%, -26%) rotate(1deg);
    }
    60% {
        transform: translate(-53%, -27%) rotate(0deg);
    }
    80% {
        transform: translate(-52%, -28%) rotate(2deg);
    }
    100% {
        transform: translate(-50%, -27%) rotate(-3deg);
    }
}
@keyframes shake2 {
    0% {
        transform: translate(-52%, -28%) rotate(0deg);
    }
    20% {
        transform: translate(-50%, -27%) rotate(-2deg);
    }
    40% {
        transform: translate(-51%, -26%) rotate(1deg);
    }
    60% {
        transform: translate(-53%, -27%) rotate(0deg);
    }
    80% {
        transform: translate(-52%, -28%) rotate(2deg);
    }
    100% {
        transform: translate(-50%, -27%) rotate(-3deg);
    }
}

.shake {
    animation: shake 500ms linear;
}

.shake2 {
    animation: shake2 500ms ease;
}






