.end-screen-container {
    position: relative;
    background-color: rgb(71, 72, 74);
    max-width: 450px;
    width: 100%;
    display: flex;
    padding: 3vh 0;
    margin: 20px 0;
    height: 100%;
    align-items: center;
    flex-direction: column;
    image-rendering: pixelated;
    background-size: 100% 100%;
    color: white;

    .end-screen-average-round-time-title {
        font-size: 3.7vh;
    }
    .end-screen-average-round-time {
        font-size: 5vh;
        margin: 2% 0;
    }
    .end-screen-best-time-title {
        margin: 10% 0 0% 0;
        font-size: 3vh;
        text-transform: uppercase;
    }
    .end-screen-best-time {
        font-size: 3.5vh;
        margin: 0% 0;
        text-transform: uppercase;
    }
    .coins {
        margin: 10% 0 0% 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 60px;
        .coin-icon {
            height: 100%;
        }
        .coin-value {
            font-size: 6vh;
        }
    }
    .gems {
        margin: 10% 0 0% 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 60px;

        .gems-icon {
            height: 100%;
            margin-right: 5px;
        }
        .gem-value {
            font-size: 6vh;
        }
    }
    .underline {
        height: 10px;
        width: 80%;
        background-size: 100% 100%;
        background-position: center;
        margin-top: 10%;
    }
    .end-screen-buttons {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 30px;
        height: 15%;

        .replay {
            margin-top: 10%;
            width: 60%;
            height: 80%;
            background-size: 100% 100%;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            margin: 0 5px;
            transition: 200ms all ease;
            background-color: transparent;
            &:hover {
                transform: scale(1.05);
            }
            img {
                width: 40%;
                aspect-ratio: 1.1/1;
                pointer-events: none;
            }
        }
        .go-back {
            margin-top: 10%;
            width: 60%;
            height: 80%;
            background-size: 100% 100%;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            margin: 0 5px;
            transition: 200ms all ease;
            background-color: transparent;
            &:hover {
                transform: scale(1.05);
            }

            p {
                font-size: 4vh;
                font-family: joystix_monospace;
                color: white;
                -webkit-text-stroke: 1px black;
                padding: 10px 5px;
            }
        }
    }
}

@keyframes colorBlink {
    0% {
        color: rgb(255, 0, 247);
    }
    50% {
        color: greenyellow;
    }
    100% {
        color: blue;
    }
}

.colorBlink {
    animation: colorBlink 400ms normal infinite;
}
