.home-screen-container {
    position: relative;
    background-color: rgb(71, 72, 74);
    max-width: 450px;
    width: 100%;
    display: flex;
    padding: 3vh 0;
    margin: 20px 0;
    height: 100%;
    align-items: center;
    flex-direction: column;
    image-rendering: pixelated;
    background: url("../../themes/basic/back_basic.png");
    background-size: 100% 100%;

    .home-screen-top {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .nickname{
            width: 65%;
            height: 60px;
            display: flex;
            align-items: center;
            padding: 0 0 0 30px;
            background: url("../../themes/basic/top_nav_basic_n.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            image-rendering: pixelated;
            p{
                font-size: 30px;
                color: white;

            }
        }
        .top-row2{
            width: 100%;
            display: flex;
            justify-content: center;
            div{
                background: url("../../themes/basic/top_nav_basic_n.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                image-rendering: pixelated;
                display: flex;
                align-items: center;
                width: 34%;
                margin: 0 5px;
                color: white;
                font-size: 20px;
                height: 50px;
    
                img{
                    margin-left: 10px;
                    height: 50px;
                    margin-right: 5px;
                    
                }
            }
        }
    }

    .center-shape-image {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-top: 70px;
        image-rendering: pixelated;
        font-family: joystix_monospace;
        border: none;
        transition: 100ms all ease;
        &:hover {
            transform: scale(1.05);
        }
        p {
            color: white;
            margin: 0;
        }
        img {
            width: 70px;
        }
    }

    .vs-button {
        background: url("../../themes/basic/btn_basic_wide_basic__n.png");
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        image-rendering: pixelated;
        border: none;
        padding: 5px 0;
        margin-top: 20px;
        transition: 100ms all ease;
        &:hover {
            transform: scale(1.1);
        }

        p {
            font-size: 50px;
            font-family: joystix_monospace;
            color: white;
            margin: 0;
        }

        img {
            width: 50px;
            margin-right: 10px;
        }
    }

    .home-screen-bottom {
        position: absolute;
        bottom: 0;
        background: url("../../themes/basic/basic_menu_bar.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        image-rendering: pixelated;
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 0 0;
        button {
            width: 70px;
            height: 70px;
            margin: 0 30px;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50px;
                image-rendering: pixelated;
            }
        }
    }
}

.active {
    transform: scale(1.3);
    margin-top: -35px !important;
}

.inv-img {
    transform: scale(0.84);
}
