.home-screen-container {
    position: relative;
    //background-color: rgb(71, 72, 74);
    max-width: 450px;
    width: 100%;
    display: flex;
    padding: 3vh 0;
    margin: 20px 0;
    height: 100%;
    align-items: center;
    flex-direction: column;
    image-rendering: pixelated;
    //background: url("../../themes/basic/back_basic.png");
    background-size: 100% 100%;

    .home-screen-top {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .nickname {
            width: 65%;
            height: 60px;
            display: flex;
            align-items: center;
            padding: 0 0 0 30px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            image-rendering: pixelated;
            p {
                font-size: 30px;
                color: white;
            }
        }
        .top-row2 {
            width: 100%;
            display: flex;
            justify-content: center;
            div {
                background-repeat: no-repeat;
                background-size: 100% 100%;
                image-rendering: pixelated;
                display: flex;
                align-items: center;
                width: 34%;
                margin: 0 5px;
                color: white;
                font-size: 20px;
                height: 50px;

                img {
                    margin-left: 10px;
                    height: 50px;
                    margin-right: 5px;
                }
            }
        }
    }

    .home-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }

    .center-shape-image {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-top: 70px;
        image-rendering: pixelated;
        font-family: joystix_monospace;
        border: none;
        transition: 100ms all ease;
        background-color: transparent;
        &:hover {
            transform: scale(1.05);
        }
        p {
            color: white;
            margin: 0;
        }
        img {
            width: 70px;
        }
    }

    .vs-button {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        image-rendering: pixelated;
        border: none;
        padding: 5px 0;
        margin-top: 20px;
        transition: 100ms all ease;
        background-color: transparent;
        &:hover {
            transform: scale(1.1);
        }

        p {
            font-size: 50px;
            font-family: joystix_monospace;
            color: white;
            margin: 0;
        }

        img {
            width: 50px;
            margin-right: 10px;
        }
    }

    .home-screen-bottom {
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        image-rendering: pixelated;
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 0 0;
        button {
            width: 70px;
            height: 70px;
            margin: 0 30px;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 200ms all ease;
            img {
                image-rendering: pixelated;
            }
            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

.active {
    transform: scale(1.7) !important;
    margin-top: -35px !important;
    &:hover {
        transform: scale(1.7) !important;
    }
}

.home-inventory-button {
    img {
        width: 40px !important;
        image-rendering: pixelated;
    }
}

.home-shop-button {
    img {
        width: 50px;
        image-rendering: pixelated;
    }
}

.home-play-button {
    img {
        width: 40px;
        image-rendering: pixelated;
    }
}

.shop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 99;
    .shop-promo {
        margin: 30px 0 0 0 !important;
        height: 200px !important;
        display: block !important;
        position: relative;
    }

    .shop-promo-title {
        font-size: 18px;
        margin: 15px 0 !important;
    }
    .shop-promo-desc {
        font-size: 20px;
        margin: 10px 0 0 0 !important;
    }

    .promo-reward-row {
        display: flex;
        align-items: center;
        justify-content: center;
        .promo-theme-img {
            width: 100px;
            margin-right: 40px;
        }
        .promo-reward-side {
            div {
                display: flex;
                align-items: center;
                font-size: 20px;
                color: white;
                .promo-coin-img {
                    height: 45px;
                    width: 45px;
                }
                .promo-gem-img {
                    height: 45px;
                    width: 20px;
                    margin-left: 12px;
                    margin-right: 12px;
                }
            }
        }
    }
    .theme-shop-contianer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        height: 100%;
        .theme-shop-button {
            position: relative;
            margin-top: 10px;
            background-color: transparent;
            border: none;
            aspect-ratio: 1/1;
            transition: 200ms all ease;
            width: 42%;
            .theme-checkmark{
                position: absolute;
                width: 40px;
                z-index: 0;
                right: 0;
                bottom: 15px;
            }
            &:hover {
                transform: scale(1.05);
            }
            .theme-shop-button-image {
                width: 100%;
            }
            .theme-price {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 20px;
                font-family: joystix_monospace;
                img {
                    height: 35px;
                    height: 35px;
                }
            }
        }
    }
}

.inv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin: 10vh auto;
    width: 80%;
    z-index: 99;

    .inv-promo-desc {
        color: white;
       margin-top: 30px; 
    }
    .theme-inv-contianer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin-top: 20px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: #ffffff;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #828281;
        }

        max-height: 70vh;
        .theme-inv-button {
            background-color: transparent;
            border: none;
            transition: 200ms all ease;
            width: 100%;
            &:hover {
                transform: scale(1.05);
            }
            .theme-inv-button-image {
                width: 100%;
            }
        }
    }
}
